@mixin titleStyles($color: $subtitle-red, $font-size: 3rem, $margin-bottom: 2rem) {
    margin-bottom: $margin-bottom;
    font-weight: bold;
    font-size: $font-size;
    color: $color;
}


@mixin flexSetMiddle( $flex-direction: column){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $flex-direction;
}