@import 'variables';
@import 'mixin';

* {
  @include default();
  font-family: $chinese-text;
}

html,
body {
  height: 100%;
}

.showCase {
  @include showCaseStyle();
}

nav {
  position: sticky;
  top: 0;
  background-color: $main-red;
  z-index: 2;
  ul {
    display: flex;
    justify-content: space-around;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 3rem;
    }
  }

  .nav-links {
    font-family: $chinese-text;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    li {
      padding: 1rem;
    }
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 40vw;
  background-image: url('../images/home-header.png');
  background-position: center;
  background-size: cover;
}

.bannerMessage {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  top: 20vh;
  right: 30vh;
  color: $subtitle-red;
  p {
    margin-bottom: 0.5rem;
  }
  .msg {
    font-size: 1.5rem;
    font-family: $chinese-text;
    .msg-en {
      font-family: $default-text;
    }
  }
  .slogan {
    font-size: 3rem;
    font-weight: bold;
  }
  .bannerBtn {
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    background-color: $main-red;
    color: #ffffff;
    font-weight: bold;
  }
}

.featureWrapper {
  padding: 3rem 0rem;
  margin: 0 auto;
  width: 80%;
  @include flexSetMiddle();
  .title {
    @include titleStyles();
  }
  .featureCards {
    display: flex;
    gap: 2rem;
    .logoContainer {
      @include flexSetMiddle();
      img {
        width: 7rem;
      }
      p {
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 1rem;
      }
    }
    .content {
      font-weight: bold;
      color: black;
    }
  }
}

.seriesCards {
  font-family: $default-text;
  display: flex;
  gap: 2rem;
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      width: 100%;
    }
    h3 {
      color: $main-red;
      font-size: 2rem;
    }
  }
}

.contact {
  background-color: #fbf2f2;
  padding-bottom: 2rem;
  .showCase {
    width: 30%;
  }
  .userInquiryMessage {
    font-weight: bold;
    font-size: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    input {
      background-color: #fbf2f2;
      margin-bottom: 1rem;
      height: 2rem;
    }
    label {
      margin-bottom: 0.5rem;
    }
    textarea {
      height: 10rem;
      background-color: #fbf2f2;
    }
    .check {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      .checkBox {
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: center;
        padding-top: 11px;
      }
    }
    .btnBox {
      text-align: center;
      button {
        padding: 1rem 6rem;
        color: white;
        background-color: $main-red;
        border: 0;
      }
    }
  }
}

footer {
  background-color: $main-red;
  .showCase {
    width: 80%;
  }
  .copyright {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    .left,
    .right {
      padding: 2rem 0rem;
    }
    .right {
      display: flex;

      p {
        padding: 0rem 1rem;
      }
    }
  }
  .contactInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;
    color: white;
    .telephone,
    .email {
      display: flex;
      align-items: center;
      font-size: 3rem;
      img {
        margin-right: 1rem;
      }
    }
  }
  ul {
    padding-top: 2rem;
    width: 100%;
    @include flexSetMiddle($flex-direction: row);
    display: flex;
    justify-content: space-between;
    .left {
      display: flex;
      font-size: 1.2rem;
      color: white;
      li {
        padding: 1rem 1.2rem;
      }
    }
    .right {
      display: flex;
      justify-content: space-around;
      li {
        padding: 1rem;
      }
      img {
        width: 4rem;
      }
    }
  }
}

/* 桌上型電腦：至少要1024px以上 */
@media (min-width: 1024px) {
  /* 在這裡寫桌上型電腦的樣式 */
  .feature {
    background-color: #fbf2f2;
    color: $main-red;
  }

  .seriesCards {
    font-family: $default-text;
    display: flex;
    gap: 2rem;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      img {
        width: 100%;
      }
      h3 {
        color: $main-red;
        font-size: 2rem;
      }
    }
  }



  .collab {
    background-image: url(../images/index-bg.png);
    background-position: center;
    background-size: cover;
    padding: 2rem 0rem;
    .showCase {
      .title {
        @include titleStyles($color: white);
      }
      .cards {
        display: flex;
        justify-content: center;

        img {
          width: 100%;
          display: block;
        }
        h3 {
          background-color: white;
          text-align: center;
          font-size: 2rem;
          color: $main-red;
          font-weight: bold;
          font-family: $default-text;
          padding: 0.5rem;
        }
      }
    }
  }

  .recommendation {
    .customerCards {
      display: flex;
      justify-content: space-around;
      gap: 1rem;
      align-items: stretch;

      .customerCard {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        img {
          width: 100%;
        }

        .detail {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-grow: 1;
        }
        p {
          margin-bottom: 1rem;
          color: gray;
        }
        .name,
        .comment {
          font-weight: bold;
          color: black;
        }
      }
    }
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .bannerMessage {
    top: 90px;
    right: 50px;
  }

  .featureWrapper {
    background-color: #fbf2f2;
    width: 100%;
  }

  .featureCards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    .card {
      flex: 1 0 336px;
    }
  }

  .seriesCards {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .card {
      flex: 0 0 336px;
    }
  }

  .collab {
    background-image: url('../images/index-bg-md.png');
    background-size: cover;
    padding: 2rem 0rem;
    .title{
      color: white;
    }
    .cards {
      flex-wrap: wrap;
      .card {
        margin-bottom: 1rem;
        img {
          width: 100%;
          display: block;
        }
        h3 {
          background-color: white;
          text-align: center;
          font-size: 2rem;
          color: $main-red;
          font-weight: bold;
          font-family: $default-text;
          padding: 0.5rem;
        }
      }
    }
  }

  .recommendation {
    .customerCards {
      display: flex;
      justify-content: space-around;
      gap: 1rem;
      align-items: stretch;
      flex-wrap: wrap;

      .customerCard {
        display: flex;
        flex: 0 0 336px;
        flex-direction: column;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        img {
          width: 100%;
        }

        .detail {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-grow: 1;
        }
        p {
          margin-bottom: 1rem;
          color: gray;
        }
        .name,
        .comment {
          font-weight: bold;
          color: black;
        }
      }
    }
  }

  .contact {
    background-color: #fbf2f2;
    padding-bottom: 2rem;
    .showCase {
      width: 80%;
    }
  }

  footer {
    background-color: $main-red;
    .showCase {
      width: 80%;
    }
    .copyright {
      width: 100%;
      color: white;
      display: flex;
      justify-content: space-between;
      .left,
      .right {
        padding: 2rem 0rem;
      }
      .right {
        display: flex;
  
        p {
          padding: 0rem 1rem;
        }
      }
    }
    .contactInfo {
      width: 100%;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid white;
      color: white;
      .telephone,
      .email {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        img {
          margin-right: 1rem;
        }
      }
    }
    ul {
      padding-top: 2rem;
      width: 100%;
      @include flexSetMiddle($flex-direction: row);
      display: flex;
      justify-content: space-between;
      .left {
        display: flex;
        font-size: 1rem;
        color: white;
        li {
          padding: 1rem 1rem;
        }
      }
      .right {
        display: flex;
        justify-content: space-around;
        li {
          padding: 0.5rem;
        }
        img {
          width: 2rem;
        }
      }
    }
  }


}

@media (max-width: 768px) {

  nav{
    .logo{
      display: flex;
      justify-content: start;
      align-items: center;
      img{
        width: 10rem;
        padding: 1rem;
      }
    }

    ul{
      display: flex;
      flex-direction: column;

      .nav-links{
        display: flex;
        text-align: center;
        flex-wrap: wrap;

        li{
          border: 1px solid white;
          font-size: 2rem;
          flex: 0 0 50%;
          box-sizing: border-box;
        }
      }
    }
  }

  .banner {
    background-image: url(../images/home-header-sm.png);
    height: 80vh;
  }
  .bannerMessage {
    top: 200px;
    right: 30px;
  }

  .featureWrapper {
    background-color: #fbf2f2;
    width: 100%;
    .featureCards {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .card {
        flex: 0 0 348px;
      }
    }
    .title {
      @include titleStyles();
      font-size: 2.5rem;
    }
  }

  .seriesCards {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .card {
      flex: 0 0 348px;
    }
  }

  .collab {
    background-image: url('../images/index-bg-sm.png');
    background-size: cover;
    padding: 2rem 0rem;
    .title{
      color:white;
    }
    .cards {
      flex-wrap: wrap;

      .card {
        margin-bottom: 1rem;
        img {
          width: 100%;
          display: block;
        }
        h3 {
          background-color: white;
          text-align: center;
          font-size: 2rem;
          color: $main-red;
          font-weight: bold;
          font-family: $default-text;
          padding: 0.5rem;
        }
      }
    }
  }
  .recommendation {
    .customerCards {
      display: flex;
      justify-content: space-around;
      gap: 1rem;
      align-items: stretch;
      flex-wrap: wrap;
      .customerCard {
        display: flex;
        flex: 0 0 348;
      
        flex-direction: column;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        img {
          width: 100%;
        }
        .detail {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-grow: 1;
        }
        p {
          margin-bottom: 1rem;
          color: gray;
        }
        .name,
        .comment {
          font-weight: bold;
          color: black;
        }
      }
    }
  }

  .contact {
    background-color: #fbf2f2;
    padding-bottom: 2rem;
    .showCase {
      width: 80%;
    }
    button{
      width: 100%;
    }
  }


  footer {
    background-color: $main-red;

    .copyright {
      width: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      .left{padding-left:1em ;}
      .right {
        display: flex;
        flex-direction: column;
      }
    }

    .contactInfoCase{
      display: flex;
      flex-direction: column;
      align-items: start;
      border-bottom: 1px solid white;
      width: 100%;
    }
    .upper{
      display: flex;
      flex-direction: row-reverse;
      width: 100%
    }
    .lower{
      display: flex;
      width: 100%
    }
    .contactInfo {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      margin-right: 1rem;
      border:0;
      color: white;
      .telephone,
      .email {
        display: flex;
        align-items: center;
        font-size: 1rem;
        img {
          margin-right: 1rem;
        }
      }
    }

    ul {
      width: 100%;
      display: flex;
      align-items: start;
      .left {
        display: none;
      }
      .right {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        li {
          padding: 0rem 0.5rem ;
        }
        img {
          width: 2rem;
        }
      }
    }
  }
}
