@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Noto Sans TC", sans-serif;
}

nav {
  position: sticky;
  top: 0;
  background-color: #AA0601;
  z-index: 2;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo img {
  width: 3rem;
}
nav .nav-links {
  font-family: "Noto Sans TC", sans-serif;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
}
nav .nav-links li {
  padding: 1rem;
}

.banner {
  position: relative;
  width: 100%;
  height: 40vw;
  background-image: url("../images/home-header.png");
  background-position: center;
  background-size: cover;
}

.bannerMessage {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  top: 20vh;
  right: 30vh;
  color: #650300;
}
.bannerMessage p {
  margin-bottom: 0.5rem;
}
.bannerMessage .msg {
  font-size: 1.5rem;
  font-family: "Noto Sans TC", sans-serif;
}
.bannerMessage .msg .msg-en {
  font-family: "Roboto", sans-serif;
}
.bannerMessage .slogan {
  font-size: 3rem;
  font-weight: bold;
}
.bannerMessage .bannerBtn {
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  background-color: #AA0601;
  color: #ffffff;
  font-weight: bold;
}

.feature {
  background-color: #fbf2f2;
  color: #AA0601;
}

.featureWrapper {
  padding: 3rem 0rem;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.featureWrapper .title {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 3rem;
  color: #650300;
}
.featureWrapper .featureCards {
  display: flex;
  gap: 2rem;
}
.featureWrapper .featureCards .logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.featureWrapper .featureCards .logoContainer img {
  width: 7rem;
}
.featureWrapper .featureCards .logoContainer p {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.featureWrapper .featureCards .content {
  font-weight: bold;
  color: black;
}

.showCase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 5rem;
}
.showCase .title {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 3rem;
  color: #650300;
  padding-top: 2rem;
}

.seriesCards {
  font-family: "Roboto", sans-serif;
  display: flex;
  gap: 2rem;
}
.seriesCards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 0 300px;
}
.seriesCards .card img {
  width: 100%;
}
.seriesCards .card h3 {
  color: #AA0601;
  font-size: 2rem;
}

.collab {
  background-image: url(../images/index-bg.png);
  background-position: center;
  background-size: cover;
  padding: 2rem 0rem;
}
.collab .showCase .title {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 3rem;
  color: white;
}
.collab .showCase .cards {
  display: flex;
  justify-content: center;
}
.collab .showCase .cards img {
  width: 100%;
  display: block;
}
.collab .showCase .cards h3 {
  background-color: white;
  text-align: center;
  font-size: 2rem;
  color: #AA0601;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem;
}

.recommendation .customerCards {
  display: flex;
  justify-content: space-around; /* 確保卡片之間有均勻的間距 */
  gap: 1rem;
}
.recommendation .customerCards .customerCard {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.recommendation .customerCards .customerCard img {
  width: 100%;
}
.recommendation .customerCards .customerCard .detail {
  padding: 1rem;
}
.recommendation .customerCards .customerCard .detail .name,
.recommendation .customerCards .customerCard .detail .comment {
  font-weight: bold;
  margin-bottom: 1rem;
}
.recommendation .customerCards .customerCard .detail .date {
  color: gray;
  font-weight: normal;
  padding-top: 1rem;
}

.contact {
  background-color: #fbf2f2;
}
.contact .showCase {
  width: 50%;
}
.contact .userInquiryMessage {
  font-weight: bold;
  font-size: 20px;
}

/* 桌上型電腦：至少要1024px以上 */
@media (min-width: 1024px) {
  /* 在這裡寫桌上型電腦的樣式 */
}
/* 平板電腦：720px～1024px */
@media (min-width: 720px) and (max-width: 1024px) {
  /* 在這裡寫平板電腦的樣式 */
}
/* 手機：320px～720px */
@media (max-width: 720px) {
  /* 在這裡寫手機的樣式 */
}/*# sourceMappingURL=style.css.map */