@import 'variables';
@import 'mixin';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

nav {
  position: sticky;
  top: 0;
  background-color: $main-red;
  z-index: 2;
  ul {
    display: flex;
    justify-content: space-around;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 3rem;
    }
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    li {
      padding: 1rem;
    }
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 40vw;
  background-image: url('../images/home-header.png');
  background-position: center;
  background-size: cover;
}

.bannerMessage {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  top: 20vh;
  right: 30vh;
  color: $subtitle-red;
  p {
    margin-bottom: 0.5rem;
  }
  .msg {
    font-size: 1.5rem;
  }
  .slogan {
    font-size: 3rem;
    font-weight: bold;
  }
  .bannerBtn {
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    background-color: $main-red;
    color: #ffffff;
    font-weight: bold;
  }
}

.feature {
  background-color: #fbf2f2;
  color: $main-red;
}

.featureWrapper {
padding: 3rem 0rem;
  margin: 0 auto;
  width: 80%;
  @include flexSetMiddle();
    .title{
        @include titleStyles(); 
    }
    .featureCards{
        display: flex;
        gap:2rem;
        .logoContainer{
            @include flexSetMiddle();
            img{
                width: 7rem;
            };
            p{
                font-size: 2rem;
                margin-top: 0;
                margin-bottom: 1rem;
            }
        }
        .content{
            font-weight: bold;
            color:black;
        }

    }
}

.showCase{
    @include flexSetMiddle();
    margin: 0 auto;
    width: 80%;
    margin-bottom: 5rem;
    .title{
        @include titleStyles();
        padding-top: 2rem;
    }
    .seriesCards{
        display: flex;
        gap:1rem;
        text-align: center;
        img{
            width: 20rem;
            margin-bottom: 1rem;
        }
        h3{
            color:$main-red;
            font-weight: bold;
            font-size: 2.5rem;
        }
    }
}

.collab{
    background-image: url(../images/index-bg.png);
    background-position: center;
    background-size: cover;
    padding: 3rem 0rem;

    .showCase{
        @include flexSetMiddle();
        margin: 0 auto;
        width: 80%;
        .title{
            @include titleStyles($color:white);
            padding-top: 2rem;
        }
        .cards{
            display: flex;
            justify-content: center;
            img{
                width: 30rem;
                display: block;
            }
            h3{
                background-color: white;
                text-align: center;
                font-size: 2rem;
                color:$main-red;
                font-weight: bold;
            }
        }
    }
}

/* 桌上型電腦：至少要1024px以上 */
@media (min-width: 1024px) {
  /* 在這裡寫桌上型電腦的樣式 */
}

/* 平板電腦：720px～1024px */
@media (min-width: 720px) and (max-width: 1024px) {
  /* 在這裡寫平板電腦的樣式 */
}

/* 手機：320px～720px */
@media (max-width: 720px) {
  /* 在這裡寫手機的樣式 */
}
